.calculator {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  margin-top: 80px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h2 {
  font-size: 24px;
  text-transform: capitalize;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 3px 5px 0px rgba(117, 102, 102, 0.6);

  color: white; /* Change the color to your preference */
}
.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.input,
.result {
  font-size: 24px;
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.button-column {
  display: flex;
  flex-direction: column;
}
.operators {
  color: tomato;
}
.operators.equal {
  background-color: tomato;
  color: white;
}
.button-column button {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  background-color: black;
  color: tomato;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}

button:active {
  background-color: #00357a;
}
